#*.*
*.dll
*.exe
*.dat
*.bank
.egstore
.old_git
licenses
maps
shadersOGL
/scripts/missions
/scripts/personalities
/scripts/*.lua
/scripts/localization/chinese
/scripts/localization/japanese
#언어 패치 변경사항
!/resources/resource.dat
!/scripts/images.lua
!/scripts/text.lua
